.slider {
    &__button {
        padding: 25px;
        background-color: #ffc107;
        color:White;
        border-radius: 500px;
        text-decoration: none;
        font-size:17px;
        margin-top: 20px;
        display: inline-block;

        &:hover {
            color:white;
        }
    }
    &__content {
        top:50%;
        transform: translateY(-50%);
        position: absolute;
        width:500px;
        left:20%;
    }
    &__text {
        color:White;
        font-size:2rem;
        font-weight: weight;

        @media screen and (min-width:768px) {
            font-size: 3rem;
        }

        @media screen and (min-width:992px) {
            font-size: 5rem;
        }
    }
    &__image {
        filter: brightness(50%);
    }
}